<% s = @site.cmdb %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lx-11">
    <h1>
      <small>Site</small> <%= s[:name] %>
      <a href="https://r2.grenoble.hp.com/operations/direct/infra/<%= s[:infrid] %>"><span class="fa fa-external-link"></span></a>
      <small>id: <%= s[:infrid] %></small>
    </h1>
    <h4>
      <small>Alias</small> <%= s[:alias] %>
      <small>Acronym</small> <%= s[:site_acro] %></h4>
    <%= link_to('<span class="fa fa-file-text"></span> Asciidoctor output'.html_safe, {controller: "cmdb/sites", id: s[:infrid], action: "show", format: "adoc"}) %>
    <%= link_to(' | <span class="fa fa-file-text"></span> DHCP_Snooping'.html_safe, {controller: "cmdb/sites", id: s[:infrid], action: "show_dhcp_snooping", format: "adoc"}) %>
  </div>
  <div class="col-xs-1 col-md-1 col-lx-1">
    <p class="text-right">
      <%= link_to('<button type="button" class="btn btn-primary btn-sm">Create project files</button><br />'.html_safe, {action: "create_project_files"}) %>
      <%= link_to('<button type="button" class="btn btn-primary btn-sm">Update from devices</button><br />'.html_safe, {action: "update_from_devices"}) %>
      <small>Created at</small> <%= DateTime.parse(s[:creationdate]).to_s(:custom_short) %>
      <br/>
      <small>Updated at</small> <%= DateTime.parse(s[:lastchangedate]).to_s(:custom_short) %>
    </p>
  </div>
</div>
<table class="table table-striped table-condensed">
  <tbody>
  <% ( %>
      <tr>
        <th>Parent site</th>
        <td><%= s[:up_value] %>(id: <%= s[:up] %>)</td>
      </tr>
  <% ) if (s[:up]).to_i > 0 %>
  <tr>
    <th>Type</th>
    <td><%= s[:type] %></td>
  </tr>
  <tr>
    <th>Country</th>
    <td><%= s[:country] %></td>
  </tr>
  <tr>
    <th>State</th>
    <td><%= s[:the_state] %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= s[:city] %></td>
  </tr>
  <tr>
    <th>ZIP</th>
    <td><%= s[:zip_code] %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= s[:address] %></td>
  </tr>
  <tr>
    <th>Timezone</th>
    <td><%= s[:timezone] %></tr>
  <tr>
    <th>Employee number</th>
    <td><%= s[:empl_nb] %></td>
  </tr>
  <tr>
    <th>Open hours</th>
    <td><%= s[:open_hours] %></td>
  </tr>
  <tr>
    <th>Step</th>
    <td><%= s[:step] %></td>
  </tr>
  <tr>
    <th>Owner ORG</th>
    <td><%= s[:owner_org_value] %></td>
  </tr>
  <% ( %>
      <tr>
        <th>Moved to production</th>
        <td><%= DateTime.parse(s[:first_mtp_date]).to_s(:custom_short) %></td>
      </tr>
  <% ) unless (s[:first_mtp_date].empty? || s[:first_mtp_date] == "0000-00-00 00:00:00") %>
  <% ( %>
      <tr>
        <th>Moved to obsolete</th>
        <td><%= DateTime.parse(s[:last_obsolete_date]).to_s(:custom_short) %></td>
      </tr>
  <% ) unless (s[:last_obsolete_date].empty? || s[:last_obsolete_date] == "0000-00-00 00:00:00") %>
  </tbody>
</table>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Model</th>
    <th>IP Address</th>
    <th>Mgmt IP Address</th>
    <th>Step</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @devices.each do |device| %>
      <% d = device[:cmdb] %>
      <tr>
        <td><%= link_to d[:name], "/cmdb/devices/#{d[:infrid]}" %>
          <a href="https://r2.grenoble.hp.com/operations/direct/infra/<%= d[:infrid] %>"><span class="fa fa-external-link"></span></a>
        </td>
        <td><%= d["model_nb"] %></td>
        <td><%= d["real_ip"] %></td>
        <td><%= d["ip"] %></td>
        <td><%= d["step"] %></td>
        <td>
          <% ( %><a href="rlogin://<%= d[:name] %>"><span class="fa fa-terminal"></span></a>
          <% ) unless d["ip"].nil? %>
          <%= link_to('<span class="fa fa-file-text"></span>'.html_safe, {controller: "cmdb/devices", id: device[:_id], action: "show_configuration"}) unless device.file_config.nil? %>
          <%= link_to('<span class="fa fa-list-ol"></span>'.html_safe, {controller: "cmdb/devices", id: device[:_id], action: "show_interfaces"}) if device.device && device.device[:interfaces] %>
          <%= link_to('<span class="fa fa-tree"></span>'.html_safe, {controller: "cmdb/devices", id: device[:_id], action: "show_cdp"}) if device.device && device.device[:neighbors] && device.device[:neighbors][:cdp] %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Device</th>
    <th>VLAN</th>
    <th>Subnet</th>
    <th>IP address</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <% @devices.each do |device| %>
      <% next if device.device.nil? %>
      <% vlan_ifs = device.device[:interfaces].find_all { |i| /Vlan/.match i[:name] } %>
      <% vlan_ifs.each do |i| %>
          <% next if i[:ipv4].nil? %>
          <% ip = IPAddress::IPv4.new("#{i[:ipv4].first[:address]}/#{ i[:ipv4].first[:mask]}") %>
          <tr>
            <td><%= link_to device[:name], "/cmdb/devices/#{device.cmdb[:infrid]}" %>
              <a href="https://r2.grenoble.hp.com/operations/direct/infra/<%= device[:infrid] %>"><span class="fa fa-external-link"></span></a>
            </td>
            <td><%= i[:name] %></td>
            <td><%= ip.network.to_string %></td>
            <td><%= i[:ipv4].first[:address] %></td>
            <td><%= i[:desc] %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
