<% s = @subnet.cmdb %>
<h1>
  <small>Subnet</small> <%= s[:name] %>
  <a href="https://r2.grenoble.hp.com/operations/direct/infra/<%= s[:infrid] %>"><span class="fa fa-external-link"></span></a>
  <small>id: <%= s[:infrid] %></small>
</h1>

<table class="table table-striped table-condensed">
  <tbody>
  <% s.each do |key, value| %>
    <tr>
      <% ( %><th><%= key %></th><td><%= value %></td><% )  %>
    </tr>
<% end %>
  </tbody>
</table>
