<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lx-11">
    <h1>
      <small>Devices</small>
    </h1>
  </div>
  <div class="col-xs-1 col-md-1 col-lx-1">
    <p class="text-right">
      <%= link_to('<button type="button" class="btn btn-primary btn-sm">Update from CMDB+</button><br />'.html_safe, {action: "update_from_cmdb"}) %>
      <small>Version</small> <%= @cmdb_ver %>
      <br/>
      <small>Count</small> <%= @devices.count %>
    </p>
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Site</th>
    <th>Model</th>
    <th>IP Addr</th>
    <th>Mgmt Ip Addr</th>
    <th>Step</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @devices.each do |device| %>
      <% d = device.cmdb %>
      <tr>
        <td><%= link_to d[:name], "/cmdb/devices/#{d[:infrid]}" %>
          <a href="https://r2.grenoble.hp.com/operations/direct/infra/<%= d[:infrid] %>"><span class="fa fa-external-link"></span></a>
        </td>
        <td>
          <% ( %>
              <%= link_to d[:sitid_value], "/cmdb/sites/#{d[:sitid]}" %>
              <a href="https://r2.grenoble.hp.com/operations/direct/infra/<%= d[:sitid] %>"><span class="fa fa-external-link"></span></a>
          <% ) if d[:sitid] != 0 %>
        </td>
        <td><%= d["model_nb"] %></td>
        <td><%= d["real_ip"] %></td>
        <td><%= d["ip"] %></td>
        <td><%= d["step"] %></td>
        <td>
          <%= link_to('<span class="fa fa-file-text"></span>'.html_safe, {controller: "cmdb/devices", id: device[:_id], action: "show_configuration"}) unless device.file_config.nil? %>
          <%= link_to('<span class="fa fa-list-ol"></span>'.html_safe, {controller: "cmdb/devices", id: device[:_id], action: "show_interfaces"}) if device.device && device.device[:interfaces] %>
          <%= link_to('<span class="fa fa-tree"></span>'.html_safe, {controller: "cmdb/devices", id: device[:_id], action: "show_cdp"}) if device.device && device.device[:neighbors] && device.device[:neighbors][:cdp] %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
