<h1>
  <small>CDP neighbors of device</small> <%= @device_name %>
  <a href="https://r2.grenoble.hp.com/operations/direct/infra/<%= @device_id %>"><span class="fa fa-external-link"></span></a>
  <small>id: <%= @device_id %></small>
</h1>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Source interface</th>
    <th>Interface</th>
    <th>Hostname</th>
    <th>IP Addresses</th>
    <th>Platform</th>
    <th>Capabilities</th>
    <th>Duplex</th>
  </tr>
  </thead>
  <tbody>
  <% @device_cdp_neighbors.each do |cdp| %>
      <tr>
        <td><%= cdp[:src_interface_abbr] %> <%= "(#{cdp[:src_interface_po]})" unless cdp[:src_interface_po].nil? %></td>
        <td><%= cdp[:interface_abbr] %></td>
        <td><%= link_to_if(cdp[:infrid].present?, cdp[:hostname], "/cmdb/devices/#{cdp[:infrid]}") %></td>
        <td><%= cdp[:mgmt_address].join(", ") %></td>
        <td><%= cdp[:platform] %></td>
        <td><%= cdp[:capabilities].gsub(" ", ", ") %></td>
        <td><%= cdp[:duplex] %></td>
      </tr>
  <% end %>
  </tbody>
</table>